[MESSAGES CONTROL]
disable=broad-except,
        wrong-import-position,
        wrong-import-order,
        trailing-newlines,
        unidiomatic-typecheck,
        no-else-raise,
        too-few-public-methods,
        no-else-return,
        missing-final-newline,
        logging-fstring-interpolation,
        fixme,
        too-many-ancestors

[FORMAT]
max-line-length=100
